.App {
  text-align: center;
  background-color: black
}

.logo1 {
  -webkit-box-reflect: below 6px linear-gradient(transparent, rgba(0,0,0,0.5));
  background-size: 20px 300px;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  /* position: absolute;  */
  z-index: 1
  /* background-color: aqua; */
}

.logo rect {
  fill: rgb(231, 250, 255);
  mask: url(#mask);
}

#rect {
  background: transparent;
  fill: white;
  mask: url(#mask);
}

.logo > rect {
  -webkit-mask: url(#mask);
  fill: white;
  mask: url(#mask);
}

.logo2 {
  -webkit-box-reflect: below 6px linear-gradient(transparent, rgba(0,0,0,0.5));
  background-size: 20px 300px;
  width: 100%;

  top: 0;
  left: 0;
  position: absolute;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width:1200px) {
  svg {
    
  }
}

svg {
  transition: 1s font-size; 
  position: absolute;
  top:0;
  left:0;
  height:100%;
}

video {
  width: 100%;
  height: 100%;
}

.videoOne {
  width: 100%;
  height: 100%;
}